@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto' ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header,
.hero,
.info,
.quote,
.action,
footer {
    padding: 0 12%;
}

header,
.hero,
footer {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

header a,
.hero p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

header p {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

header ul {
    display: flex;
    gap: 20px;
}

.hero {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hero button {
    margin-top: 15px;
}

.hero img {
    border-radius: 8px;
    width: 400px;
    height: auto;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.action-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    padding: 5px 30px;
    cursor: pointer;
}

.outline {
    outline: 2px solid #F9FAF8;
}