@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto' ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header,
.hero,
.info,
.quote,
.action,
footer {
    padding: 0 15%;
}

header,
.hero,
footer {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

header a,
.hero p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

header p {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

header ul {
    display: flex;
    gap: 20px;
}